<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>bookserver-client</title>
    <link href="../webjars/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen"> </link>
</head>
<body>

<br/>
<div class="container">

    <div class="jumbotron">
        <h1>Client</h1>
    </div>

    <h3>Olá <span sec:authentication="name">fulano</span></h3>

    <hr/>

    <h4>
        Atividades recentes
    </h4>
    <table class="table">
        <tr>
            <td>dia</td>
            <td>atividade</td>
        </tr>
        <tr>
            <td>hoje</td>
            <td>curtiu um post sobre segurança</td>
        </tr>
        <tr>
            <td>ontem</td>
            <td>participou de uma maratona de programação</td>
        </tr>
        <tr>
            <td>semana passada</td>
            <td>participou de um Dojo de node.js em Köln Mülheim</td>
        </tr>

    </table>

    <div th:if="${livros != null}">
        <h4>
            Esses são seus livros cadastrados na aplicação bookserver
        </h4>

        <table class="table">
            <tr>
                <td>titulo</td>
                <td>nota</td>
            </tr>
            <tr th:each="livro : ${livros}">
                <td th:text="${livro.titulo}">titulo</td>
                <td th:text="${livro.nota}">nota</td>
            </tr>
        </table>
    </div>

    <div th:if="${livros == null}">
        <div class="alert alert-warning" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Você tem conta no bookserver?<br/>
            Mostre <a href="/integracao">aqui</a> os livros que você já leu para melhorar seu perfil.
        </div>
    </div>

    <h4/>

    <button class="btn btn-default" type="button" onclick="javascript: window.location.href='/home'">Voltar</button>

</div>
</body>

<script src="/jquery.min.js"></script>
<script src="../webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</html>
