<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>bookserver-client</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <link th:href="@{/css/style.css}" rel="stylesheet" media="screen" />
</head>

<body>

<div class="container mt-5">

    <div class="jumbotron py-5 mb-4">
        <h1 class="display-4">Bookserver</h1>
    </div>

    <h2>Cadastre-se</h2>

    <form action="#" th:action="@{/usuarios}" th:object="${dadosDeRegistro}" method="post">
        <div class="mb-3">
            <label for="nome" class="form-label">Nome:</label>
            <input class="form-control" id="nome" type="text" th:field="*{nome}"/>
            <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">preencher o nome</div>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">E-mail:</label>
            <input class="form-control" id="email" type="text" th:field="*{email}"/>
            <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">preencher o email</div>
        </div>

        <div class="mb-3">
            <label for="senha" class="form-label">Senha:</label>
            <input class="form-control" id="senha" type="password" th:field="*{senha}"/>
            <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}">preencher a senha</div>
        </div>

        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Enviar</button>
            <button class="btn btn-secondary" type="button" onclick="window.location.href='/'">Cancelar</button>
        </div>
    </form>

</div>

<!-- jQuery and Bootstrap 5.3.7 -->
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>

</html>

