<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>bookserver-client</title>
    <link href="../webjars/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen"> </link>
</head>
<body>

<br/>
<div class="container">

    <div class="jumbotron">
        <h1>Bookserver</h1>
    </div>

    <h3>Conta de <span sec:authentication="name">fulano</span></h3>

    <hr/>

    <h4>
        Controle de livros
    </h4>

    <form action="#" th:action="@{/livros/principal}" th:object="${dadosDoLivro}" method="post">
        <div class="row">
            <div class="form-group col-md-2">
                <label for="titulo">Título:</label>
                <input class="form-control" id="titulo" type="text" th:field="*{titulo}"/>
                <div th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}">preencher o titulo</div>
            </div>

            <div class="form-group col-md-2">
                <label for="nota">Nota:</label>
                <input class="form-control" id="nota" type="text" th:field="*{nota}"/>
                <div th:if="${#fields.hasErrors('nota')}" th:errors="*{nota}">preencher a nota</div>
            </div>

        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Adicionar livro</button>
        </div>

    </form>

    <hr/>

    <div th:if="${livros != null}">
        <h4>
            Esses são seus livros cadastrados na aplicação bookserver
        </h4>

        <table class="table">
            <tr>
                <td>titulo</td>
                <td>nota</td>
            </tr>
            <tr th:each="livro : ${livros}">
                <td th:text="${livro.titulo}">titulo</td>
                <td th:text="${livro.nota}">nota</td>
            </tr>
        </table>
    </div>

    <div th:if="${#lists.isEmpty(livros)}">
        <div class="alert alert-info" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Você ainda não tem livros cadastrados!
        </div>
    </div>

    <h4/>

    <button class="btn btn-default" type="button" onclick="javascript: window.location.href='/home'">Voltar</button>

</div>
</body>

<script src="/jquery.min.js"></script>
<script src="../webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</html>
